*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
}
ul{
    list-style-type: none;
    padding: 40px 0;
}
li{
    display: inline;
}
.li_titulo{
    padding-left:100px;
    padding-right: 200px;
}
.li_contenido{
    padding: 0 30px ;
}
.li_iconos{
    padding-left: 100px;
    padding-right: 20px;
}
.cuerpo{
    display: grid;
    grid-template-rows: repeat(3,auto) 70px repeat(2,auto);
    grid-row-gap: 20px;
}
.item2{
    display: grid;
    grid-template-columns: 30% 1fr;
}
.item2_div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item2_div1 div{
    width: 70%;
    margin: auto;
}
.item2_div2 img{
    width: 100%;
}
.item3{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    align-items: baseline;
}
.item3 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 15px;
}
.item3 div p{
    text-align: center;
}
.item3 div img:nth-child(1){
    width: 80%;
}
.item3 img{
    justify-self: center;
}
hr{
    width: 60%;
    margin:auto;
}
.item4{
    display: grid;
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    '. div1'
    'div2 div3'
    'div4 div5'
    'div6 div6';
    grid-gap:30px;
    width: 80%;
    margin: auto;
    align-items: center;
}
.item4_div1{
    grid-area: div1;
}
.item4_div1 h4{
    text-align: center;
}
.item4_div2{
    grid-area: div2;
}
.item4 div > img{
    width: 100%;
}
.item4_div3{
    grid-area: div3;
    width: 80%;
    margin:auto
}
.item4_div4{
    grid-area: div4;
}
.item4_div5{
    grid-area: div5;
}
.item4_div6{
    grid-area: div6;
    text-align: center;;
}


/* botones */
button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-color: #000;
    border-radius: 50px;
    padding: 5px 30px;
    transition: 0.5s;
    background-color: #fff;
}
button:hover{
    transform: scale(1.05);
}
button img{
    width: 20px;
}
.btn-black{
    background-color:#0f1c31;
    color:white;
}
.btn-black img{
    filter: grayscale(1) invert(1);
}

/*back*/
.back{
     z-index: -1;
     width: 100%;
     position: absolute;
     top:0;
}
.back div{
    position: relative;
}
.back .item1{
    background-color: #0f1c31;
    width: 100px;
    height: 300px;
    top: 15em;
    left: 27vw;
}
.back .item2{
    background-color:#fddfa5;
    width: 200px;
    height: 100px;
    top: 26em;
    left: 10vw;
}
.back .item3{
    background-color:#0f1c31;
    width: 200px;
    height: 100px;
    top: 25em  ;
    left: 80vw;
}
.back .item4{
    float: left;
    top:55em;
}
.back .item4 img{
    width: 250px;
}
.back .item5{
    grid-area: p3;
    background-image: url(img/Grupo\ 16@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 40vw;
    top: 42em;
    left: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.back .item5 p{
    width: 50%;
    margin: auto;
    text-align: center;
    color: sienna;
}
.back .item6{
    background-color:#0f1c31;
    width: 40vw;
    height: 15vh;
    top: 68em;
    left: 55vw;
}